{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>Обо мне</h1>
    <p>Я - окончил курсы программирования в университете Зерокодер
        и теперь создаю крутые веб-приложения с помощью Flask!
        Мои навыки включают HTML, CSS, JavaScript и Python.
        Я люблю создавать интерактивные пользовательские интерфейсы,
        которые улучшают пользовательский опыт и увеличивают продажи.
        Мои проекты используют Flask и другие веб-фреймворки,
        чтобы создать удобные и красивые интерфейсы для веб-приложений.

    </p>
{% endblock %}