{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Текущее время и дата</h1>
    <p>Сейчас на сервере: {{ current_time }}</p>


<h1>Привет, Я продукт-дизайнер с профессиональным опытом! </h1>
    <p>Я занимаюсь созданием удобных и красивых интерфейсов для веб-приложений.
       Мои работы удерживают внимание пользователей и улучшают взаимодействие с пользовательским интерфейсом.

    </p>
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="rounded float-end" alt="Профиль">
{% endblock %}
